.phone {
   background-image: url("../assets/images/iphonex2.svg");
   background-repeat: no-repeat;
   background-size: 310px 540px;
   background-position: center; /* Center the image */
   margin-top: 14px;
   background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin: auto;
    z-index : 999;
}

.phone-container {
  width: 310px;
  height: 540px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index : 999;
}

.messages-wrapper {
  height: 490px;
  overflow: scroll;
  margin: auto;
  z-index : 999;
  padding-bottom: 8px;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.phone-statusbar {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  margin-bottom: 0;
  margin-left: 4px;
}

.phone-body {
  margin-bottom: 40px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: -14px;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}
.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 15px 10px;
    position: relative;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 80px;
}
.message.from img{
  height: 140px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

.phone-navbar {
    padding-left: 0;
    padding-right: 28px;
    margin-left: 0;
    width: 310px;
    position: absolute;
    bottom: 6px;
    text-align: center;
    height: 30px;
}

.fas.fa-arrow-circle-up {
   color: #2095FE;
}

.fas.fa-arrow-circle-up.disabled {
   color: #A9A9A9;
}

.fas.fa-times-circle {
   color:#ff3333;
}

.col {
  text-align: center;
}

.col > em {
  text-decoration: underline;
}

.item-description-body {
  margin-top: 6px;
  text-align: left;
}

.form-control {
  width: 240px;
  display: inline;
  margin-left: 0;
  padding-left: 0;
  position: relative;
  bottom: 10px;
}
.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}


.button-bar {
  position: absolute;
  bottom: 46px;
  right: 20px;
}

#featured {
  opacity: 0;
  animation-name: show;
  animation-duration: 0;
  animation-delay: 160ms;
  animation-fill-mode: forwards;
}

#categories {
  opacity: 0;
  animation-name: show;
  animation-duration: 0;
  animation-delay: 80ms;
  animation-fill-mode: forwards;
}

#info {
  opacity: 0;
  animation-name: show;
  animation-duration: 0;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

.list-group-item {
  cursor:pointer;
}

i {
  cursor:pointer;
}
.card.categories {
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
  right: 32px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card.info {
  width: 230px;
  padding-bottom: 0;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 32px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-body {
  padding: 8px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.btn.btn-secondary {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: block;
  border: 0;
  margin-bottom: 2px;
}

.btn.btn-secondary.dropdown-toggle {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 768px) {
  .phone {
     background-size: auto auto;
     background-position: center; /* Center the image */
     background-color: #fff;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: auto;
      margin: auto;
      z-index : 999;
  }

  .phone-container {
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index : 999;
  }

  .messages-wrapper {
    height: -webkit-fill-available;
    overflow: scroll;
    margin: auto;
    z-index : 999;
    padding-bottom: 8px;
  }
  ::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
  }

  .phone-statusbar {
    display: none;
  }

  .brand-img {
    vertical-align: middle;
    width: 40px;
    height:40px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
  }

  .phone-body {
    margin-bottom: 40px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -14px;
  }
  .message.to {
      background-color: #2095FE;
      color: #fff;
      margin-left: 80px;
  }
  .message {
      border-radius: 20px 20px 20px 20px;
      margin: 0 15px 10px;
      padding: 15px 10px;
      position: relative;
  }
  .message.from {
      background-color: #E5E4E9;
      color: #363636;
      margin-right: 80px;
  }
  .message.from img{
    height: auto;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
  }
  .phone-navbar {
      padding-left: 0;
      padding-right: 26px;
      width: -webkit-fill-available;
      position: absolute;
      bottom: 0;
      text-align: center;
      height: 30px;
  }

  .col {
    text-align: center;
  }

  .col > em {
    text-decoration: underline;
  }

  .item-description-body {
    margin: 6px;
    text-align: left;
  }


  .form-control {
    width: 240px;
    display: inline;
    margin-left: 0;
    padding-left: 0;
    position: relative;
    bottom: 10px;
  }
  .no-border {
      border: 0;
      box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  }
}

@keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}
